//Global

.tm-la {
  font-family: LineAwesome;
  color: @font-color-primary;

  &.fa-pie-chart:before {
    font-size: 28px;
    content: "\F2B7";
  }

  &.fa-money:before {
    font-size: 38px;
    content: "\F294";
  }

  &.fa-comments:before {
    font-size: 28px;
    content: "\F1A1";
    color: @font-color-default;
  }

  &.fa-reply:before {
    font-size: 17px;
    //color: @font-color-global;
    content: "\F2DA";
  }

  &.fa-sun-o:before {
    content: "\F32B";
    font-size: 22px;
    color: @font-color-default;
  }

  &.fa-info:before {
    content: "\F24A";
    color: @font-color-global;
    font-size: 16px;
  }
}

.tm-padding-small-bottom {
  padding-bottom: 10px;
}
.tm-padding-small-vertical {
  padding: 10px 0;
}

.tm-block-padding {
  padding: 10px 20px;

  &-large {
    padding: 15px 20px;
  }
}

.tm-win {
  color: #2fb363;
}

.tm-lose {
  color: #d74e5a;
}

ol.tm-ordered-list {
  padding: 0;

  > li {
    position: relative;
    list-style-type:none;
    counter-increment: list;
    min-height: 27px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: @font-size-large;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: -4px;
      left: 0;
      content: counter(list) " ";
      width: 27px;
      height: 27px;
      line-height: 28px;
      background-color: @bg-button-primary;
      border-radius: 50%;
      text-align: center;
    }

    span {
      white-space: nowrap;
    }
  }
}

.tm-block-footer {
  padding: 15px 0 0;
  border-top: 1px solid @border-color;

  a {
    color: @font-color-global;

    &.tm-link-alt {
      color: @font-color-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }
}


//Local

.tm-nav {
  border-top: 5px solid transparent;

  &:hover, &:active, &.uk-active {
    border-top-color: @bg-button-primary;
  }
}

.tm-text-alt {
  color: #5b6c92;
}

.tm-background-central-head {
  background-color: @bg-button-primary;
  //line-height: 1.4;
}

.tm-button-new {
  text-transform: none;
  font-size: 15px;
  padding: 0 15px;
  line-height: 38px;
  background-color: transparent;
  border: 1px solid @bg-button-primary;
  color: @font-color-default;
}

.tm-button-bet {
  text-transform: none;
  font-size: 19px;
  white-space: normal;
}

.tm-social-icons>li {
  margin-right: 5px;
}

.tm-social-icons>li>a {
  width: 35px;
  height: 35px;
  min-height: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid @bg-global-primary;

  .fa {
    font-size: 17px;
    //color: @font-color-global;
  }
}

.tm-statistic {
  font-size: 26px;

  > div:last-child {
    border-top: 1px solid @border-color;
  }
}

.tm-games-my {
  //line-height: 1.3;

  a:hover {
    text-decoration: none;
  }

  .fa {
    font-size: 17px;
    color: @font-color-default;
  }
}

.tm-game-my {
  position: relative;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  border-top: 1px solid @border-color;
  //background-color: @bg-global-muted;
  cursor: pointer;
  color: @font-color-default;

  &:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    content: '';
  }

  &:hover, &:focus, &:active {
    background-color: @bg-global-primary;

    &:before {
      background-color: @bg-button-primary;
    }
  }

  &:nth-child(2) {
    border-top:none;
  }
}

.tm-game-played {
  position: relative;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  border-top: 1px solid @border-color;
  //background-color: @bg-global-muted;
  cursor: pointer;
  color: @font-color-default;

  &:nth-child(2) {
    border-top:none;
  }
}

.tm-members-list {
  padding: 0;
  margin: 0;

  li {
    padding: 0 20px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid @border-color;
    margin-top: 0;
    color: @font-color-default;

    a {
      color: @font-color-default;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 960px) {

  .tm-side-limit {
    width: 256px;
    max-width: 100%;
  }
}


.tm-players-list {
  padding: 0;
  margin: 0;

  li {
    background-color: transparent;
    position: relative;
    padding: 0 10px 0 40px;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    color: @font-color-muted;
    border: 1px solid @border-color;

    &.tm-connected {
      background-color: @bg-global-primary;
      color: @font-color-default;

      a {
        color: @font-color-default;

        &:hover, &:focus, &:active, &.uk-active {
          text-decoration: none;
        }
      }
    }

    &::before {
      display: block;
      position: absolute;
      top: 0;
      line-height: inherit;
      font-family: FontAwesome;
      font-size: 21px;
      color: @font-color-primary;
      content: "\f364";
      left: 10px;
    }

    &:first-child {
      margin-top: 0;
    }

    &.uk-active {
      &:after {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: @bg-button-primary;
        content: '';
      }

      .tm-players-count {
        background-color: @bg-button-primary;
        border-color: @bg-button-primary;
      }
    }
  }

  .tm-players-count {
    width: 23px;
    height: 23px;
    border: 1px solid @border-color;
    text-align: center;
    line-height: 23px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    color: @font-color-global;
  }
}

.tm-games-available {

  a:hover {
    text-decoration: none;
  }

  .fa {
    font-size: 17px;
    color: @font-color-default;
  }

  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 1px solid @border-color;
    border-radius: 3px;
    line-height: 22px;
    max-height: 22px;
    outline: none;
    z-index: 2000;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #919bb1;
    line-height: 22px;
    text-transform: uppercase;
  }

  .select2-container {
    box-sizing: border-box;
    display: inline;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: -1px;
    left: 75px;
    /* right: 0; */
    width: 20px;
    font-family: FontAwesome;
    color: #919bb1;
    font-size: 10px;

    b {
      display: none;
    }

    &:before {
      content: '\f078';
    }
  }

  .tm-select {
    width: 96px;
    margin-right: 5px;
    z-index: 3000;

    &:last-child {
      margin-right: 0;
    }
  }
}

.select2-results__option {
  padding: 0 8px;
  user-select: none;
  -webkit-user-select: none;
  line-height: 23px;
}

.select2-dropdown {
  border: 1px solid #192745;
  border-radius: 3px;
  width: 96px;
}

.select2-results {
  display: block;
  background-color: #192745;
  color: #919bb1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: lighten(#192745,30%);
  color: white;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #919bb1;
  text-transform: uppercase;
}

.tm-game-available {
  padding: 0 10px;
  line-height: 38px;
  color: @font-color-default;
  border: 1px solid @border-color;

  .uk-button {
    line-height: 22px;
    padding: 0 10px;
  }
}

.tm-icon {
  position: relative;
  padding-left: 25px;
  margin-left: 5px;

  &:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    line-height: inherit;
    font-family: FontAwesome;
    font-size: 21px;
    color: @font-color-primary;
    content: "\F369";
  }
}

.tm-game-counter {
  padding: 25px 30px;
  margin-bottom: 5px;
  border: 1px solid @border-color;

  .tm-slidebar {
    position: relative;
    margin: 15px 0 25px;
    width: 100%;
    height: 9px;
    background-color: @bg-global-secondary;

    &:before {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 35px;
      width: 60px;
      background-color: @bg-button-primary;
      border-radius: 500px;
      content: '';
    }
  }

  .tm-waiting-players {
    position: relative;
    padding: 0 25px;
    font-size: @font-size-header-global;
    color: @font-color-default;

    &:before, &:after {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      font-family: FontAwesome;
      color: @font-color-default;
    }

    &:before {
      content: '\f100';
      left: 0;
    }

    &:after {
      content: '\f101';
      right: 0;
    }
  }
}

.tm-game-action {
  padding: 20px;
  border: 1px solid @border-color;

  .uk-pagination li {
    width: 32px;
    height: 34px;
    line-height: 35px;
    background: transparent;
    padding: 0;
    margin: 0 1px 1px 0;
    border-radius: 3px;
    font-size: 22px;
    text-align: center;
    border: 1px solid @border-color;

    a {
      color: @font-color-global;
    }

    &:last-child {
      //margin: 0;
    }

    &.uk-active, &:hover {
      background-color: @bg-button-primary;
      border-color: @bg-button-primary;
    }
  }

}

.tm-input-footer {
  width: 380px;
  height: 27px;
  line-height: 27px;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid @border-color;
  border-radius: 3px;
  color: @font-color-global;
}

.tm-button-footer {
  height: 27px;
  padding: 0 20px;
  line-height: 29px;
  border: 1px solid @bg-button-primary;
}

.tm-win-number {
  width: 80px;
  height: 105px;
  line-height: 105px;
  margin-right: 4px;
  background-color: #192745;
  border: 3px solid @bg-button-primary;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 61px;

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 639px) {

  .tm-win-number {
    font-size: 40px;
  }
}

.tm-find-game, .tm-new-game {
  background-color: @bg-button-primary;
  margin: 10px 0 20px;
  padding: 15px 15px 25px 20px;
  border-radius: 3px;
}

.tm-find-game {
  input {
    background-color: @bg-global;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: rgba(25, 38, 67, 0.5);

    &::placeholder {
      color: rgba(25, 38, 67, 0.5);
      font-size: 12px;
    }
  }
}

.tm-new-game {

  input {
    background-color: @bg-global;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: rgba(25, 38, 67, 0.5);

    &::placeholder {
      color: rgba(25, 38, 67, 0.5);
      font-size: 12px;
    }
  }
}

.tm-button-new-game {
  height: 29px;
  line-height: 29px;
  padding: 0 35px;
  background-color: transparent;
  border: 1px solid #fff;

  &:hover, &:active {
    border-color: #bbb;
    color: #bbb;
  }
}

a.tm-create {
  color: @font-color-primary;

  &:hover {
    text-decoration: underline;
  }
}

.tm-dropdown-button {
  max-width: 23px;
  position: relative;
  height: 27px;
  line-height: 25px;
  background-color: #182541;
  border-radius: 50px;
  padding: 0 30px 0 2px;
  cursor: pointer;

  &:before {
    position: absolute;
    display: block;
    top: 1px;
    right: 8px;
    font-family: FontAwesome;
    font-size: 12px;
    color: #475679;
    content: '\F078';
  }
}

.tm-dropdown.uk-dropdown {
  min-width: 0;
  padding: 2px;
  background: #182541;
  margin: 5px 0 0;
  border-radius: 50px;
  &>* {
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.uk-open {
    display: flex;
    flex-direction: column;
  }
}

.tm-button-group {
  //width: 53px;
  background-color: #182541;
  //height: 27px;
  //line-height: 25px;
  border: none;
  border-radius: 50px;
  padding: 2px;

  button {
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: none;
    //font-size: 22px;
    //color: #475679;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    .fa {
      font-size: 22px;
      color: #475679;
    }

    &:hover, &.uk-active {
      background-color: @bg-button-primary;
      color: @font-color-global;

      .fa-sun-o:before, .fa:before {
        color: @font-color-global;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.uk-offcanvas-bar {
  background-color: @bg-global-primary;
}

@media (max-width: 1199px) {

  .tm-input-footer {
    width: 240px;
  }

  .uk-navbar-item {
    padding: 0 5px;

  }

  .uk-navbar-nav>li>a {
    font-size: 14px;
    padding: 0 5px;
  }


}

@media (max-width: 959px) {

}

@media (max-width: 639px) {
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    min-height: 40px;
  }

}

//@media (max-width: 360px) {
//
//}




.select2-container--classic .select2-selection--single, .select2-container--classic .select2-selection--single .select2-selection__arrow, .select2-container--classic .select2-selection--single .select2-selection__arrow, .select2-container--classic.select2-container--open.select2-container--above .select2-selection--single, .select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  filter: none;
}