//
// Component: Variables
//
// ========================================================================
// example
//@width-sidebar: 344px;



// Global variables
// ========================================================================

//
// Typography
//

@font-family-global: 'Roboto', sans-serif;
@font-family-logo: AcuminConcept, sans-serif;

@font-weight-bold: 700;
@font-weight-normal: 400;

@font-size-large: 16px;
@font-size-global: 14px;
@font-size-small: 12px;

@font-size-header-main: 69px;

@font-size-header-global: 20px;

//
// Colors
//

// Typography colors

@font-color-global: #ffffff;
@font-color-default: #979FC3;
@font-color-muted: rgba(151, 159, 195, 0.5);


@font-color-primary: #357CE1;
@font-color-secondary: #d74e5a;

// Background colors

@bg-global: #ffffff;
@bg-global-primary: #1e2237;
@bg-global-secondary: #171b2b;
@bg-global-tertiary: #131625;
@bg-global-default: transparent;
@bg-global-muted: rgba(71,86,121,0.5);

@bg-button-primary: #357CE1;
@bg-button-secondary: #d74e5a;
@bg-button-default: #475679;

// Border colors
@border-color: #383f66;

// Other colors

//
// Other properties
//
//
// Backgrounds
//

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//
